# dependencies
/node_modules
/.pnpm-store

# next.js build output
/.next/
/out/

# production output
/build
/dist

# debug & server logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# environment variables
.env*.local
.env
.env.production
.env.development
!.env.example

# vercel
.vercel

# IDE / OS files
.DS_Store
*.pem
.vscode/
.idea/
*.swp
*.swo
